/* img set to 50% so it can take half of the page, or put the contact and */

body{
  background-image: url("/images/zara.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 498px 800px;
}

 .navigate {
    display: inline;
    font-size: 20px;
    width: 100%;
    padding: 4px;
    font-family: "Oxygen";
    border-bottom: solid orangered;
  }

  .contact {
    margin: 15px auto;  
    background-color: orange;
    border: solid 1px black;
    display: block;
    font-size: x-large;
    font-weight: bold;
    letter-spacing: 0.1em;
    line-height: 1.3;
    text-align: center;
    width: 50%;
  }
  
  .scheduleForm {
      margin: 0 auto;
      border: solid 1px black;
      display: block;
      width: 50%;
      font-size: 25px;
      line-height: .8;
      text-align: center;
  }
  