
*{
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

html, body {
  margin: 0;
  padding: 0;
}


body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 100;

  border-left: 8px dotted #db6a40;
  border-top: 8px dotted #db6a40;
  border-right: 8px dotted #db6a40;
  
  background: linear-gradient(#FFB56D, #FF8261);
  /*background: url('../images/mclogo-3.png'), linear-gradient(#FFB56D, #FF8261);
  
  background-image: url('../images/mclogo-3.png');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
*/
}



/* HEADER / NAV AREA*/



.container {
  width: 100%;
  padding-top: 80px;
  text-align: center;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}

.nav {
  width: 300px;
  /*
  border: 1px solid palegoldenrod;
*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

header {
  margin-bottom: 35px;
}

header li .name {
  font-family: 'Satisfy', cursive, sans-serif;
  font-size: 48px;
}

header li h2 {
  font-family: 'Courgette';
  font-size: 30px;
}

header li {
  list-style: none;
  line-height: 1.4;
}

header li a {
  font-size: 26px;
  font-family: 'Satisfy', cursive, sans-serif;
  color: #176881;
  transition-property: background;
  transition-duration: 1.5s;
  transition-timing-function: ease-in-out;
}

header li a:hover {
  background: #aebdcf;
  cursor: pointer;  
}

header li a:visited {
  color: #4f55af;
}
/* END of HEADER // NAV */


main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
}

main img {
  width: 35%;
  height: auto;
  opacity: 0.6;
}

.pestlist {
  font-family: 'Courgette';
  margin-right: 5px;
}

.saying {
  margin-top: 30px;
  margin-bottom: 20px;
  padding-top: 15px;
  text-align: center;
  font-size: 30px;
  font-family: 'Courgette';
}

.employees {
  margin: 7px auto;
  padding: 10px;
  text-align: center;
  width: 97%;
  bottom: -25px;
  position: relative;
  z-index: 5;
  
  height: 10px;
  font-family: "Proza Libre", serif;
  font-size: 18px;
  font-weight: bold;
  color: #142033;
  overflow: hidden;
  
  -webkit-transition: all 1.5s ease-in 0.5s;
  -moz-transition: all 1.5s ease-in 0.5s;
  -o-transition: all 1.5s ease-in 0.5s;
  -ms-transition: all 1.5s ease-in 0.5s;
  transition: all 1.5s ease-in 0.5s;
}

.employees:hover {
  bottom: 250px;
  height: 400px;
  background: rgb(189, 180, 170);
}

#employee {
  margin: 0 25px;
  text-decoration: underline wavy;
  font-family: 'Bookman';
}

.employeeWord{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 10px;
}

.pics{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.cname {
  font-family: 'Courgette', sans-serif;
  font-size: 20px;
  text-decoration: underline;
}

.kit {
  margin: 0 10px;
  min-width: 300px;
  max-width: 400px;
  min-height: 300px;
  max-height: 300px;
}

footer {
  height: 55px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

footer #f_name {
  margin-left: 15px;
  padding-left: 50px;
  opacity: 0.1;
}



/*  MEDIA QUERIES  */


/*   TABLET  */

@media only screen and (max-width: 768px) {

}





/*   MOBILE  */

@media only screen and (max-width: 480px), (orientation: portrait) {
  
  .bg_for_logo img {
    width: 500px;
    height: 450px;
  }


  .container {
    min-width: 470px;
    padding-top: 225px;
    text-align: center;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  
  .nav {
    margin-top: 10em;
    width: 100%;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  }
  

   header li .name {
    font-family: 'Satisfy', crusive, sans-serif;
    font-size: 112px;
    margin-bottom: 30px;
  }
  
  header li h2 {
    font-family: 'Courgette';
    font-size: 95px;
    margin-bottom: 25px;
  }
  header li {
    list-style: none;
    line-height: 1.4;
    margin-bottom: 20px;
  }
  
  header li a {
    font-size: 60px;
    padding-bottom: 6px;
    text-decoration-style: none;
    color: #384863;
    border-bottom-style: dashed;
  }
  main {
    display: none;
  }
  /*
  aside {
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }*/
  
  .employees {
      display: none;
  }
  p.saying {
    font-size: 60px;
    width: 100%;
    text-align: center;
  }

  p.fchild {
    font-size: 20px;
  }
}